body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background: url('https://raw.githubusercontent.com/SommsWell/tasting2025/main/images/banner.jpg') no-repeat center center/cover;
    color: #717d7e;
    text-align: center;
    padding: 60px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
} 

.dealers {
    text-align: center;
    padding: 40px 20px;
    background-color: white;
}

.logos img {
    width: 150px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.logos img:hover {
    transform: scale(1.1);
}

.catalogus {
    text-align: center;
    padding: 40px 20px;
    background-color: white;
}

.catalogus img {
    width: 120px;
    cursor: pointer;
    transition: transform 0.2s;
}

.catalogus img:hover {
    transform: scale(1.1);
}

.upcoming-event {
    padding: 40px;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 18px;
    border-top: 5px solid #8B0000;
}

.clickable-image {
    width: 500px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.clickable-image:hover {
    transform: scale(1.05);
}

.events {
    text-align: center;
    padding: 40px 20px;
}

.event {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
    margin: 15px;
}

.event img {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.event img:hover {
    transform: scale(1.1);
}

.contact {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
}

.contact button {
    padding: 15px 20px;
    background-color: #8B0000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact button:hover {
    background-color: #a40000;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8B0000;
    color: white;
    margin-top: 20px;
    font-size: 14px;
}
